extends layout

block content
  div(id="create-account-screen", class="user-screens")
    a(href="/logout")
      div(id="close-button", class="close-button")
        div(id="close-icon")
    - if (typeof(error) != 'undefined')
      div(id="error-display") #{error}
        a(href="/admin")
          div(id="back-button", class="back-button")
            div(id="text") Back
    - else
      div(id="title") Change Password
      - if (typeof(warning) != 'undefined')
        div(id="warning", class="notice-display") #{warning}
      - if (typeof(status) != 'undefined')
        div(id="status", class="notice-display") #{status}
      div(id="form-panel")
        form(action="changePassword", method="POST", enctype="multipart/form-data")
          input(type="hidden", name="back", value="#{back}")
          div(id="old-password-panel", class="input-panel")
            div(class="text") Old Password:
            div(class="input-text")
              input(type="password", id="old-password", name="oldPassword")
            div(class="clear")
          div(id="password-panel", class="input-panel")
            div(class="text") Password:
            div(class="input-text")
              input(type="password", id="password", name="password")
            div(class="clear")
          div(id="repeat-password-panel", class="input-panel")
            div(class="text") Repeat Password:
            div(class="input-text")
              input(type="password", id="repeat-password", name="repeatPassword")
            div(class="clear")
          div(id="bottom")
            a(href="/#{back}")
              div(id="back-button", class="back-button")
                div(id="text") Back
            div(id="submit-button")
              input(type="submit", name="submit", value="Change")
        
      
